[Desktop Entry]
Comment[de_DE]=
Comment=
Exec=timedatectl set-timezone $(timedatectl | awk '/Local/{ print $6}')
GenericName[de_DE]=fixclock
GenericName=fixclock
Icon=system-run
MimeType=
Name[de_DE]=FixClock
Name=FixClock
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
