[Unit]
Description=Siduction systemd services for fll-live-initscripts
Before=console-setup.service
ConditionPathExists=/usr/share/fll-live-initscripts/

[Service]
Type=oneshot
ExecStart=/usr/share/fll-live-initscripts/fll-locales start

[Install]
WantedBy=sysinit.target
