[Unit]
Description=Siduction systemd services for fll-live-initscripts
ConditionPathExists=/usr/share/fll-live-initscripts/

[Service]
Type=oneshot
ExecStart=/usr/share/fll-live-initscripts/fll-fstab start

[Install]
WantedBy=sysinit.target
