[Unit]
Description=Siduction systemd services for fll-live-initscripts
Before=networking.service
ConditionPathExists=/usr/share/fll-live-initscripts/

[Service]
Type=oneshot
ExecStart=/usr/share/fll-live-initscripts/fll-fstab start ;\
          /usr/share/fll-live-initscripts/fll-locales start ;\
          /usr/share/fll-live-initscripts/fll-nbdclient start ;\
          /usr/share/fll-live-initscripts/fll-shell start ;\
          /usr/share/fll-live-initscripts/fll-snakeoil-cert start; 
ExecStop=/usr/share/fll-live-initscripts/fll-fstab stop ;\
         /usr/share/fll-live-initscripts/fll-locales stop ;\
         /usr/share/fll-live-initscripts/fll-nbdclient stop ;\
         /usr/share/fll-live-initscripts/fll-shell stop ;\
         /usr/share/fll-live-initscripts/fll-snakeoil-cert stop

[Install]
WantedBy=basic.target
