[Unit]
Description=setup display and window manager
Requires=fll-adduser.service
After=fll-adduser.service
Before=systemd-user-sessions.service

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/default/distro
ExecStart=/usr/share/fll-live-initscripts/fll_xdm
Restart=no

[Install]
WantedBy=graphical.target
