[Unit]
Description=Generate xorg.conf when siduction cheatcodes for X are detected
Before=display-manager.service
ConditionPathExists=/usr/share/fll-live-xorgconfig/

[Service]
Type=oneshot
ExecStart=/usr/share/fll-live-xorgconfig/fll-xorgconfig start

[Install]
WantedBy=graphical.target
