[Unit]
Description=update /etc/default/distro from cmdline
DefaultDependencies=no
Conflicts=shutdown.target
Before=shutdown.target
Requires=fll-live.service
After=fll-live.service
ConditionFileNotEmpty=/proc/cmdline

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/default/distro
ExecStart=/usr/share/fll-live-initscripts/fll_cmdline
Restart=no

[Install]
WantedBy=basic.target
