[Unit]
Description=Siduction live media reboot
ConditionPathExists=/usr/share/fll-live-initscripts/
DefaultDependencies=no
Requires=shutdown.target umount.target final.target
After=shutdown.target umount.target final.target

[Service]
Type=oneshot
ExecStart=/usr/share/fll-live-initscripts/fll-reboot start
ExecStop=/usr/share/fll-live-initscripts/fll-reboot stop
